
<div class="col-xs-8">
    <ul class="nav nav-tabs nav-justified">
      
      <li class="<%= 'active' if current_page?(followings_user_path(@user)) %>"><%= link_to followings_user_path(@user) do %>Followings <span class="badge"><%= @count_followings %></span><% end %></li>
      
      
      
      <li class="<%= 'active' if current_page?(followers_user_path(@user)) %>"><%= link_to followers_user_path(@user) do %>Followers <span class="badge"><%= @count_followers %></span><% end %></li>
    </ul>
 
 

  </div>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th>comment</th>
      </tr>
    </thead>
    <tbody>
     <% @followings.each do |followings| %>
        <tr>
          <td><%= image_tag followings.image.thumb.to_s,class: "img-circle" %> </td>
          <td><%= link_to followings.name, user_path(followings) %></td>
          <td><%= followings.comment %></td><% end %>
        </tr>
    </tbody>
  </table>