
<div class="col-xs-2">
  <div class="fit-img">
<%= image_tag @user.image.to_s,class: "img-responsive img-circle" %>
  </div>
</div>
<div class="col-md-12">
<div class="panel panel-info">
  <div class="panel-heading">
  <h3 class="panel-title">profile</h3></h3>
  </div>
  <div class="panel-body">
  <ul class="list-unstyled">
    <li><a><%= @user.name %></a></li>
    <li><a><%= @user.comment %></a></li>
    <li><a><%= @user.detail %></a></li>
     
      </ul>
  </div>
</div>


<% if @user == current_user %>
 <%= link_to 'profile edit', edit_user_path(@user), class: 'btn btn-success btn-lg' %>
 
  <div class="cover-contents">
        <h1>my post</h1>
      </div>
      
      
      <!--<ul class="nav nav-tabs">
  <li class="active"><a href="#">収入</a></li>
  <li><a href="#">支出</a></li>
  <li><a href="#">合計</a></li>
</ul>-->

 
 <ul class="media-list">
  <% @posts.each do |post| %>
   
      <div class="media-body">
        <%= image_tag post.user.image.thumb.to_s,class: "img-responsive img-circle" %>
        <div>
          <%= link_to post.user.name, user_path(post.user) %> <span class="text-muted">posted at <%= post.created_at %></span>
        </div>
        <div>
          <p><%= image_tag post.eye_catch.thumb.to_s,class: "img-responsive img-circle" %></p>
          <%= post.title %>
        </div>
      </div>
    </li>
    <%= link_to "Delete", post, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
  <% end %>
  
</ul>
 
 
<% else %>
  <%# フォローボタン表示 %>
<% end %>
</div>