<% if logged_in? %>
    <% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>Let's trip to Japan</h1>
      </div>
    </div>
  </div>
<% end %>
<h2>Your following' latest posts</h2>
 
  <table class="table table-striped">
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th>eye_catch</th>
        <th>title</th>
      </tr>
    </thead>
    <tbody>
      <% @post.each do |post| %>
        <tr>
          <td><%= image_tag post.user.image.thumb.to_s,class: "img-circle" %></td>
          <td><%= link_to post.user.name, user_path(post.user) %></td>
          <td><%= image_tag post.eye_catch.thumb.to_s %><span class="text-muted"><%= post.created_at %></td>
          <td><%= link_to post.title, post_path(post.id) %></td>
          <td><% if @user == current_user %> <%= link_to "Delete", post, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %> <% end %></td>
          <% end %>
        </tr>
    </tbody>
  </table>

<h2>Likes Ranking</h2>
<% if @posts.present? %>
 <table class="table table-striped">
    <thead>
      <tr>
        <th>Likes</th>
        <th>image</th>
        <th>name</th>
        <th>eye_catch</th>
        <th>title</th>
      </tr>
    </thead>
    <tbody>
     <% @posts.each_with_index do |post, index| %>
        <tr>
          <td> <%= @ranking_counts[post.id] %> Likes</td>
          <td><%= image_tag post.user.image.thumb.to_s,class: "img-circle" %></td>
          <td><%= link_to post.user.name, user_path(post.user) %></td>
          <td><%= image_tag post.eye_catch.thumb.to_s %><span class="text-muted"><%= post.created_at %></td>
          <td><%= link_to post.title, post_path(post.id) %></td>
          <% end %>
        </tr>
    </tbody>
  </table>
  <%end%>




<% else %>


<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>Let's trip to Japan</h1>
                 <%= link_to 'start', signup_path, class: 'btn btn-success btn-lg' %>
      </div>
    </div>
  </div>
<% end %>

<h2>Welcome to "Trip to Japan"!</h2>
<p>You can share your experiences in Japan.</p>
<% end %>
 




