<% if logged_in? %>
    <% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>Let's trip to Japan</h1>
      </div>
    </div>
  </div>
<% end %>
<h2>Your following' new post</h2>
 <% @posts.each do |post| %>
 <p>・
 <span><%= image_tag post.user.image.thumb.to_s,class: "img-circle" %></span>
 <span><%= link_to post.user.name, user_path(post.user) %></span> <span class="text-muted"><%= post.created_at %></span>
 <span><%= image_tag post.eye_catch.thumb.to_s %></span>
 <span><%= link_to post.title, post_path(post.id) %></span><% end %>
<% else %>

<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>Let's trip to Japan</h1>
                 <%= link_to 'start', signup_path, class: 'btn btn-success btn-lg' %>
      </div>
    </div>
  </div>
<% end %>

<h2>Welcome to "Trip to Japan"!</h2>
<p>You can share your experiences in Japan.</p>
<% end %>
 




