<%= search_form_for @search  do |f| %>
  <div class="form-group">
    <%= f.label :title_or_content_cont, "title or content" %>
    <%= f.text_field :title_or_content_cont, class: "form-control" %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<%= form_for(:post, url:place_search_path) do |f| %>

   <%= f.collection_select(:place, Place.all, :id, :spot, selected:@place_id) %>

   <%= f.submit("Place Search") %>
<% end %>


<%= form_for(:post, url:category_search_path) do |f| %>

   <%= f.collection_select(:category, Category.all, :id, :family, selected:@category_id) %>

   <%= f.submit("category Search") %>
<% end %>










 <table class="table table-striped">
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th>eye_catch</th>
        <th>title</th>
      </tr>
    </thead>
    <tbody>
      <% @result.each do |post| %>
        <tr>
          <td><%= image_tag post.user.image.thumb.to_s,class: "img-circle" %></td>
          <td><%= link_to post.user.name, user_path(post.user) %></td>
          <td><%= image_tag post.eye_catch.thumb.to_s %><span class="text-muted"><%= post.created_at %></td>
          <td><%= link_to post.title, post_path(post.id) %></td>
          <td><% if @user == current_user %> <%= link_to "Delete", post, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %> <% end %></td>
          <% end %>
        </tr>
    </tbody>
  </table>